@import './base.css';
@import './css/tailwind.css';
/* 引入阿里font */
@import './font/aliFont/iconfont.css';

#app {
  /* max-width: 1280px; */
  height: 100vh;
  margin: auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

body {
}
/* 字体 SmileySans-Oblique 得意黑 */
@font-face {
  font-family: 'SmileySans-Oblique';
  src: url('@/assets/font/SmileySans-Oblique.ttf');
  font-weight: normal;
  font-style: normal;
}
